@page "/"
@using Soenneker.Blazor.Snackbar.Abstract
@using Soenneker.Utils.AutoBogus

@inject ISnackbarUtil SnackbarUtil

<img src="https://user-images.githubusercontent.com/4441470/224455560-91ed3ee7-f510-4041-a8d2-3fc093025112.png" />
<h1>Soenneker.Blazor.Snackbar demo</h1>
<p>This page demonstrates some of the common usages for the interop library.</p>

<Button Color="Color.Primary" Clicked="Click">Click</Button>

<br />

<hr />

@code{

    private AutoFaker _autoFaker = null!;

    protected override void OnInitialized()
    {
        _autoFaker = new AutoFaker();
    }

    public async Task Click()
    {
        await SnackbarUtil.Show(_autoFaker.Faker.Lorem.Sentence());
    
    }
}
